<html>

    <body>

        <div>
        
            <div>
<!--             
                <form action=”” method=”POST”> 
                    <label> Paste your Text Here </label> 
                    <input type="" name=”username” value={{request.form.username}} style = "font-size: 20px; height: 200px; "> 
                    <button type=”submit”> Submit </button> 
                </form>  -->

                <form action="/api/keywords", method="POST" id="testformid">
                    <label> Paste your Text below </label> 
                    <input type="submit" />
                </form> 
                <textarea form ="testformid" name="taname" id="taid" cols="35" wrap="soft"></textarea>


            </div>


                
        
        </div>
    </body>
        



</html>